
@media screen and (max-width: 1160px){
    .right-bar h1{
        font-size: 1.3rem;
    }
    .right-bar p{
        font-size: .8rem;
    }
    .bikes-grid-section {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 750px) {
    .logo{
        width: 40px;
    }
    nav ul li{
        font-size: 14px;
        margin: 8px;
    }
    .hero-ariya{
       flex-direction: row;
   }
   
   .left-bar{
       flex-basis: 100%;
   }
   .right-bar{
       display: none;
   }
   .bikes{
       padding: 0;
   }
    .bikes-grid-section {
        grid-template-columns: repeat(1, 1fr);
    }
}